@charset "utf-8";
/* CSS Document */
.main{width:800px;
height:800px;
}
.left{width:100px;
height:800px;
float:left;
background-color:black;
}
.mid{width:100px;
height:800px;
float:left;
background-color:red;
}
.right{width:600px;
height:800px;
float:left;
background-color:pink;
}
.mid1{width:80px;
height:100px;
margin-top:50px;
margin-left:10px;
}
.a1{
background-color:grey;
background-color:green;
}
.a2{background-color:blue;
margin-left:0;
}
.a3{background-color:brown;
}
.a4{background-color:yellow;
}
.s1{width:590px;
height:90px;
background-color:grey;
padding-left:10px;
padding-top:10px;
}
.s2{width:600px;
height:50px;
background-color:brown;
}
.s3{width:600px;
height:650px;

background-color:blue;
}
.b1{height:60px;
width:166px;
background-color:pink;
margin-right:10px;
float:left;
padding-top:20px;
padding-left:20px;
}
.g1{color:red;
font-size:30px;
}
.g2{color:green;
font-size:20px;
}


