@charset "utf-8";
/* CSS Document */
.main{width:850px;
height:400px;
background-color:blue;
padding-left:150px;
}
.a1{
	width:700px;
	height:400px;
	
	
}
.b1{
	width:700px;
	height:200px;
	
	
}
.b2{
	width:700px;
	height:150px;
	background-color:#7BC5E4;
	
}
.c1{
	height:200px;
	width:175px;
	float:left;
}
.d1{
	margin-left:70px;
	width:38px;
	height:38px;
	border-radius:50%;
	background-color:white;
	margin-top:30px;
	margin-bottom:10px;
	padding-left:7px;
	padding-top:7px;
}
.d2{width:165px;
height:90px;
text-align:center;
color:white;
padding-left:5px;
padding-right:5px;
}
