@charset "utf-8";
/* CSS Document */
.header{width:600px;
height:150px;

}
.content{width:600px;
height:150px;

}
.footer{width:600px;
height:150px;
background-color:green;
}
.sanjay{width:600px;
height:450px;
margin:0 auto;
}
.a1{width:200px;
height:150px;
background-color:brown;
float:left;
}
.a2{width:200px;
height:150px;
background-color:grey;
float:left;
margin-left:200px;
}
.b1{width:100px;
height:150px;
background-color:orange;
float:left;
}
.b2{width:100px;
height:150px;
background-color:pink;
float:left;
margin-left:150px;
}
.b3{width:100px;
height:150px;
background-color:yellow;
float:left;
margin-left:150px;
}
.c1{width:120px;
height:150px;
background-color:red;
float:left;
}
.c2{width:120px;
height:150px;
background-color:yellow;
float:left;
}
.c3{width:120px;
height:150px;
background-color:orange;
float:left;
}
.c4{width:120px;
height:150px;
background-color:grey;
float:left;
}
.c5{width:120px;
height:150px;
background-color:pink;
float:left;
}
.d1{width:120px;background-color:brown;
height:75px;

}
.d2{width:120px;background-color:blue;
height:75px;

}
.e1{width:60px;background-color:yellow;
height:75px;
float:left;
}
.e2{width:60px;background-color:red;
height:75px;
float:left;
}
.f1{width:40px;background-color:green;
height:75px;
float:left;
}
.f2{width:40px;background-color:pink;
height:75px;
float:left;
}
.f3{width:40px;background-color:green;
height:75px;
float:left;
}


